div {
	/*border: 1px solid green;*/
}

.container {
	display: block;
}

.card-row {
	border: 1px solid black;
	height: 166px;
	/*overflow: auto;*/
	/*white-space: nowrap;*/
}

.card-row-label {
	display: inline-block;
	vertical-align: top;
}

.card-row-slot {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	background: skyblue;
	margin-left: 14px;
}

.card-holder {
	margin-top: 2px;
}

.card-holder-hidden {
	visibility: hidden;
}

.card-holder_zoomed_in {
	margin-top: 4px;
	text-align: center;
}

.card {
	display: inline-block;
	border: 1px solid black;
	border-radius: 15px;
	height: 150px;
	width: 100px;
	overflow: hidden;
	padding: 5px;
	background: white;
}

.card_zoomed_in {
	display: inline-block;
	border: 1px solid black;
	border-radius: 30px;
	height: 300px;
	width: 200px;
	overflow: hidden;
	padding: 10px;
	background: white;
	margin: 0 auto;
}

.button-holder {
	display: inline-block;
}

.button {
	border: 1px solid black;
	display: inline-block;
	border-radius: 3px;
	color: black;
	margin-bottom: 5px;
	padding: 1px;
}

.card-row-slot.ng-enter
	/*,.card-row-slot.ng-leave*/
{
	-webkit-transition: 0.5s linear all;
	transition: 0.5s linear all;
}

.card-row-slot.ng-enter,
.card-row-slot.ng-leave.ng-leave-active {
	opacity: 0;
}

.card-row-slot.ng-leave,
.card-row-slot.ng-enter.ng-enter-active {
	opacity: 1;
}

.card-exhausted {
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-moz-transform: rotate(90deg); /* Firefox */
	-ms-transform: rotate(90deg); /* IE 9 */
	-o-transform: rotate(90deg); /* Opera */
	transform: rotate(90deg);
}
