<div class="card-holder" ng-class="card.type === 'blank' && { 'card-holder-hidden': true } || {}">
    <div class="card" ng-class="card.type === 'exhausted' && { 'card-exhausted': true } || {}">
        {{card.title}}
        <p/>
        {{card.text}}
        <p/>
        {{card.footer}}
    </div>
    <div class="button-holder">
        <div class="button" ng-click="clickExhaust(card)"
             ng-style="{visibility: (card.type === 'exhausted' || card.type === 'blank') && 'hidden' || 'visible'}">exhaust
        </div>
        <br/>
        <div class="button card-holder-hidden" ng-click="clickDeploy(card)">deploy</div>
        <br/>
        <div class="button card-holder-hidden" ng-click="clickPlay(card)">play</div>
    </div>
</div>