<div class="card-holder" ng-class="card.type === 'blank' && { 'card-holder-hidden': true } || {}">
    <div class="card">
        {{card.title}}
        <p/>
        {{card.text}}
        <p/>
        {{card.footer}}
    </div>
    <div class="button-holder">
        <div class="button card-holder-hidden" ng-click="clickExhaust(card)">exhaust</div>
        <br/>
        <div class="button card-holder-hidden" ng-click="clickDeploy(card)">deploy</div>
        <br/>
        <div class="button" ng-click="clickPlay(card)">play</div>
    </div>
</div>