<md-dialog aria-label="List dialog Foo">
    <md-dialog-content>
        <div class="card-holder_zoomed_in">
            <div class="card_zoomed_in">
                {{items.title}}
                <p/>
                {{items.text}}
            </div>
        </div>
        <md-dialog-actions>
            <md-button ng-click="closeDialog()" class="md-primary">
                Close Dialog
            </md-button>
            <md-button ng-click="closeDialog()" class="md-primary">
                Foo
            </md-button>
            <md-button ng-click="closeDialog()" class="md-primary">
                Bar
            </md-button>
        </md-dialog-actions>
</md-dialog>