<md-dialog>
    <div class="card-holder_zoomed_in">
        <div class="card_zoomed_in">
            {{items.title}}
            <p/>
            {{items.text}}
        </div>
    </div>
    <div>
        <md-button ng-click="closeDialog()" class="md-primary">
            Close
        </md-button>
        <!--
        <md-button ng-click="closeDialog()" class="md-primary">
            Foo
        </md-button>
        <md-button ng-click="closeDialog()" class="md-primary">
            Bar
        </md-button>
        -->
    </div>
</md-dialog>